body {
	margin:0;
	padding:0;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-align:center; /* hack para o IE */
	background-color: #ffffff;
	font-size: 0.8em;
	}
	
/* FontSize */
.maior1   	{ font-size: 1.10em; }
.maior2  	{ font-size: 1.15em; }
.maior3  	{ font-size: 1.25em; }
.maior4  	{ font-size: 1.35em; }
.menor1   	{ font-size: 0.90em; }
.menor2   	{ font-size: 0.85em; }
.menor3  	{ font-size: 0.80em; }
.menor4  	{ font-size: 0.75em; }


	
/* Início centraliza design na página */
#tudo_800 {
	width: 778px;
	padding: 0px;
	border: 0;
	text-align:left; /* "remédio" para o hack do IE */
	vertical-align: top;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
/* Início divs principais da página */
#topo{
	background-image: url(../img/fundo_topo.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 149px;
	width: 478px;
	margin: 0px;
	padding-top: 0px;
	padding-left: 135px;
	padding-right: 165px;
	padding-bottom: 0px;
}
#menu {
	vertical-align: top;
	text-align: center; /* "remédio" para o hack do IE */
	width: 758px;
	height: 31px;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	border: 0px;
	padding: 0px;
	
	
	}
#conteudo {
	background-image: url(../img/fundo_conteudo.gif);
	background-repeat: repeat-y;
	background-position: center top;
	margin: 0px;
	width: 770px;
	padding-top: 10px;
	padding-right: 3px;
	padding-bottom: 15px;
	padding-left: 5px;
	display: table;
	color: #666666;
}

#barra_topo {
	width: 778px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	display: table;
	line-height: 1px;
	margin: 0px;
}

#rodape{
	background-image: url(../img/fundo_rodape.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	width: 778px;
	height: 43px;

}
#caminho {
	margin: 0px;
	width: 778px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
}

/* Início divs secundarios da página */

.txt_titulo {
	font-family: Arial, Helvetica, sans-serif, "Arial Narrow";
	font-size: 1.4em;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 22px;
}

.barra_logado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #666666;
	line-height: normal;
	display: block;
	float: left;
	width: 430px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	margin: 0px;
}
.center {
	text-align: center;
}

#titulo {
	background-image: url(../img/fundo_titulo.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 45px;
	width: 778px;
	margin: 0px;
	padding: 0px;
}
.gest {
	font-family: Arial, Helvetica, sans-serif, "Arial Narrow";
	font-size: 1.2em;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.depto {
	font-family: Arial, Helvetica, sans-serif, "Arial Narrow";
	font-size: 1.4em;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.secretaria {
	font-family: Arial, Helvetica, sans-serif, "Arial Narrow";
	font-size: 1.6em;
	font-style: normal;
	line-height: normal;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 69px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


.txt_rodape {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	float: right;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.barra_icones {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #666666;
	line-height: 120%;
	display: block;
	float: left;
	width: 200px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: bottom;
}
.icone_tamanho_fonte {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.icone_contraste {
	margin: 0px;
	float: left;
	padding-top: 0px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 26px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.contraste {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #666666;
	line-height: 120%;
	display: block;
	float: left;
	width: 140px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: bottom;
}

.resultado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11;
	color: #04648C;
	font-weight:normal;
}



.ic_home {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 1px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 0px;
	float: left;
	margin: 0px;
}
.txt_caminho {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	color: #666666;
	line-height: normal;
	display: block;
	float: left;
	margin: 0px;
	text-align: left;
	vertical-align: bottom;
	font-weight: bold;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 6px;
}
.link_contraste {
	text-decoration: underline;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #666666;
}

.links_caminho {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	color: #666666;
	line-height: normal;
	display: block;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	margin: 0px;
	width: 610px;
}
.decrease {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-decoration: none;
}
.increase {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-decoration: none;
}
.msg {
	color: #cc0000;
	text-align:center;
}
.formclass  
{
    margin-bottom: 0px; 
    margin-top: 3px; 
    LINE-HEIGHT: 22px; 
}
.login
{ 	width: 150px;
	height: 16px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 3px;
}
.submit input
{ margin-bottom: 0px; margin-top: 0px;
margin-left: 312px;
}
.label
{
width: 128px;
height:inherit;
float: left;
text-align: right;
margin-right: 0.5em;
margin-left: 180px;
display: block;

}
.cx_alta {
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	font-size: 1em;
}
.aviso_data {
	font-size: 0.9em;
	margin: 0px;
	padding: 0px;
	color: #FF0000;
	line-height: normal;
}
.aviso_txt {
	font-size: 1em;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
.pesq_multa {
	float: left;
	text-align: left;
	margin-right: 0.6em;
	display: block;
	font-weight: bold;
    margin-bottom: 0px;
}
.pesq_multa_c {
	width: 140px;
	height:inherit;
	float: left;
	text-align: center;
	margin-right: 0.7em;
	display: block;
	font-weight: bold;
}
.pesq_multa2 {
	width: 180px;
	height:inherit;
	float: left;
	text-align: left;
	margin-right: 0.7em;
	display: block;
	font-weight: bold;
}
.pesq_multa_submit {
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 148px;
}
.data_hora {
	font-size: 0.85em;
	color: #666666;
	display: block;
	float: left;
	width: 200px;
	text-align: right;
	line-height: 1em;
	height: 30px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.cx_alta_esq {
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	font-size: 1em;
	display: block;
	width: 530px;
	float: left;
	line-height: 1em;
	height: 30px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.tabela_tit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	color: #666666;
	text-align: left;
	vertical-align:middle;
	font-weight: bold;
	background:#CCCCCC;
	height:20px;
}

.tabela_corsim {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	color: #666666;
	text-align: left;
	vertical-align:middle;
	background:#F9F9F9;
	height:20px;
}


.tabela_cornao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	color: #666666;
	text-align: left;
	vertical-align:middle;
	background:#FFFFFF;
	height:20px;
}

.tabela_
{
    margin:2;
    padding-bottom:3px;
}

.tabela_linha
{
    padding:0;
    clear:both;
}

.tabela_coluna
{
    height:20px;
    width:120;      
    float:left;
}

.resultado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11;
	color: #04648C;
}

.campo_obrigatorio
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.80em;
    color: #FF0000;
}

input[type=text].campo_normal
{
    text-transform: none;
}

.piscante_vermelho
{
    
    text-decoration: blink;
    float: left;
    text-align: left;
    margin-right: 0.6em;
    display: block;
    font-weight: bold;
    color: #FF0000;
}
.linhaimpressao
{
    BORDER-BOTTOM:#000000 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: white 1px solid;
}

